.container {
  width: 100%;
}
.top {
  position: relative;
  width: 100%;
  height: 722px;
  padding-top: 60px;
  background-color: #ffd853;
}
.top-box {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 180px;
  /* padding: 0 50px; */
}
.top-info-box {
  width: 590px;
}
.top-title {
  font-family: Noto Sans CJK KR;
  font-weight: 900;
  font-size: 42px;
  line-height: 64px;
  color: #212121;
  margin-bottom: 20px;
  /* &.yellow {
    color: #ffd853;
  } */
}
.top-exp {
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #212121;
  /* &.white {
    color: #ffffff;
  } */
}
.top-img {
  width: 406px;
  height: 582px;
  margin-left: 117px;
}
.top-button {
  font-family: Noto Sans CJK KR;
  width: 255px;
  height: 54px;
  background-color: #212121;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 60px;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 100%;
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* &.black {
    background-color: #212121;
  } */
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 30px;
  overflow: auto;
}
.group-box {
  padding: 0 100px;
  display: flex;
}
.content-img {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-bottom: 20px;
}
.group {
  width: 100%;
  max-width: 280px;
  margin-left: 40px;
  /* &:nth-child(0) {
    margin-left: 0;
  } */
}
.group-title {
  font-family: Noto Sans CJK KR;
  font-weight: 900;
  font-size: 24px;
  line-height: 39px;
  color: #212121;
  margin-bottom: 10px;
}
.group-exp {
  font-size: 20px;
  line-height: 30px;
  color: #212121;
}
.price-input {
  font-family: Noto Sans CJK KR;
  font-size: 26px;
  line-height: 40px;
  color: #212121;
  padding: 18px 20px;
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #ffffff;
  /* &::placeholder {
    color: #212121;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    border: 1px solid #8b8b8b;
  } */
}
.price-group {
  display: flex;
  align-items: center;
  margin: 80px 0;
}
.price-text {
  /* // font-family: Noto Sans CJK KR; */
  font-weight: 900;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
}
.price-box {
  display: flex;
  align-items: center;
}
.price-result-box {
  /* // font-family: Noto Sans CJK KR; */
  padding: 18px 20px;
  background: #ffd853;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  color: #212121;
}
.price-times {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.t,
.t-flex,
.mobile {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .t {
    display: block;
  }
  .t-flex {
    display: flex;
  }
  .top {
    height: auto;
    padding: 100px 0;
  }
  .top-box {
    position: unset;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .top-img {
    width: 374px;
    height: 536px;
    margin: 0;
  }
  .top-button {
    margin: 0 auto;
    margin-top: 60px;
  }
  .group {
    margin-left: 20px;
  }
  .content-img {
    width: 280px;
    height: 300px;
  }
  .content {
    width: 100%;
    justify-content: flex-start;
    overflow: auto;
  }
  .price-group {
    flex-direction: column;
  }
  .price-result-box {
    margin-top: 10px;
  }
  .price-times {
    margin: 20px 0;
  }
  .group-box {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 800px) {
  .mobile {
    width: 100%;
    display: block;
  }
  .m-pc {
    display: none;
  }
  .top {
    padding: 60px 0;
  }
  .top-box {
    padding: 0 20px;
  }
  .top-info-box {
    width: 100%;
  }
  .top-img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .box {
    padding: 60px 0;
  }
  .top-exp {
    padding: 0 20px;
  }
  .margin-bt-40 {
    margin-bottom: 40px;
  }
  .price-group {
    width: 100%;
    padding: 0 20px;
  }
  .price-input {
    width: 100% !important;
  }
  .group-box {
    padding: 0 20px;
  }
}
